{##
 # Profile cell
 #}

<div class="profile-box">
  {% if this.isProfileRemoved(this.entity) %}
    <span class="removed-profile-name">{{ this.getColumnValue(this.column, this.entity) }}</span>
  {% else %}
    <a href="{{ url('profile', '', {'profile_id': this.getOwnerVendorProfileId(this.entity)}) }}">{{ this.getColumnValue(this.column, this.entity) }}</a>
  {% endif %}
  {% if this.column.noWrap %}
    <img src="{{ asset('images/spacer.gif') }}" class="right-fade" alt="" />
  {% endif %}
</div>
