{##
 # Attribute name (with link to open attribute details dialog popup)
 #}

<span class="entity-edit-link static" data-id="{{ this.entity.getId() }}">
  <a href="javascript: void();">{{ this.entity.getName() }}</a>
</span>
