{##
 # Clear seach button
 #}

<a href="{{ url('profile_transactions_stats', 'clearSearch') }}" class="clear-search">
    <span class="clear-search-image" title="{{ t('Clear search') }}">
        {{ this.getSVGImage('images/broom.svg')|raw }}
    </span>
</a>

