{##
 # Date cell
 #}

<span class="date">{{ this.formatDate(this.getTransactionTimestamp(this.entity)) }}.</span>
<span class="time">{{ this.formatDayTime(this.getTransactionTimestamp(this.entity)) }}</span>
