{##
 # Vendor view profile link
 #
 # @ListChild (list="product.vendor_info", weight="40")
 #}

<div class="vendor-view-profile">
  <a href="{{ this.getVendorPageURL() }}" class="">{{ t('View Profile') }}</a>
</div>
